body {
    background-color: #1a1a2e;

    color: #e945e3;
}

.card {
    background-color: #16213e;
    border: 1px solid #e945e3;
}

.table {
    color: #ffffff;

}

.table-dark {
    background-color: #0f3460;
}

.btn-primary {
    background-color: #e945e3;
    border: none;
}

.btn-primary:hover {
    background-color: #c639c0;
}

.btn-warning {
    background-color: #fca311;
    color: #000;
}

.btn-danger {
    background-color: #ff4d4d;
}